
.modal{
	@BR: 6px;

	position: fixed;
	top     : 0;
	left    : 0;
	opacity : 0;
	z-index : -1;
	.transition(opacity);
	&.active{
		opacity: 1;
		z-index: 1000;
	}

	span{
		display    : block;
		margin     : 16px 0 0;
		font-size  : 12px;
		line-height: 1.25;
	}
	.modal-bg{
		position  : absolute;
		width     : 100vw;
		height    : 100vh;
		background: fadeout(@black, 10%);
	}

	.modal-body{
		@BG: @white;

		position  	: relative;
		width     : 90%;
		min-width : 300px;
		max-width : 600px;
		margin    : 100px auto;

		> div{
			padding: 14px;
		}

		#btnClose{
			@color : #787774;

			font-size  : 14px;
			position   : absolute;
			top        : -1em;
			right      : -1em;
			width      : 2em;
			height     : 2em;
			//line-height: 2em;
			text-align : center;
			background : @color;
			cursor     : pointer;
			color      : @white;
			border     : @white solid 2px;

			.rounded(50%);
			.transition(background);
			&:hover{
				background: lighten(@color, 5%);
			}
		}
		.modal-header{
			background: #fff;
			font-size : 20px;
			overflow  : hidden;

			.rounded(@BR; @BR; 0; 0);
		}
		.modal-content{

			background: @white;
			.rounded(0; 0; @BR; @BR;);

			.modal-content-wrap{
				max-width: 400px;
				margin   : 30px auto;
			}



		}
	}
}