.right{
	float: right;
}
.left{
	float: left;
}
.center{
	text-align: center;
}
.clear{
	clear: both;
}
.fullHeight{
	min-height: 100vh;
}
.parallax{
	.background-parallax('@{defImgDir}/header.png');
}


//---------------------
//--- General page ----
//---------------------

body{
	color     : @fontColor_black;
	background: @themeColor_BG;
	.font();
}


#header{
	height    : 100px;
	background: @blue;
	color     : @fontColor_white;
	h1{

	}
}
#footer{
	min-height: 60px;
	padding   : 20px;
	background: @white_2;
	li{
		display    : block;
		line-height: 3em;
		a{
			display: block;
		}
	}
}
.panel{
	background: @white;
	.rounded();
	&.sec{
		background: @white_2;
	}
}